{% extends 'base.html' %}
{% block title %} Stock {% endblock %}
{% block content %}

<div>
    <div>
        <p>This is the categories page</p>
    </div>
    <div>.
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#expensesModal">
            Add Expense
        </button>

        <!-- Modal -->
        <div class="modal fade" id="expensesModal" tabindex="-1" aria-labelledby="expensesModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="expensesModalLabel">Adding Expense</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form action="/add_exepense" method="post">
                                <div>
                                    <select class="form-select" aria-label="Default select example" name="uid">
                                        <option selected>Select a User</option>
                                        {% for user in users %}
                                        <option value="{{ user[0] }}">{{ user[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Expense  Name</label>
                                    <input type="text" name="expense" class="form-control" id="exampleInputPassword1">
                                </div>
                                 <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Amount</label>
                                    <input type="number" name="amount" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Description</label>
                                    <input type="text" name="desc" class="form-control" id="exampleInputPassword1">
                                </div>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add Expense</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>







    <div>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>User  ID</th>
                    <th>Expense Name</th>
                    <th>Amount</th>
                    <th>Description</th>

                </tr>
            </thead>
            <tbody>
                {% for i in expenses %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td> {{ i[2] }}</td>
                     <td> {{ i[3] }}</td>



                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



</div>


{% endblock %}
